*.ipynb_checkpoints
*__pycache__

*.sublime-project
*.sublime-workspace

test.py
Axial Mode Scaling Factor.ipynb
DC+optical potential.py
JE_equality.ipynb
Omega_z_Yb_Ba_vs_P.svg
lattice_filling.json
lattice_filling_2.json
/scripts

test.ipynb
Manas Data
Updated DC+optical potential.py
presentations
Figure Data
Hybrid 2D Trap Mode Coupling.ipynb
